*{
    margin: 0;
    padding: 0;
    font-family: 'Copperplate', fantasy;
    box-sizing: border-box;
}

body{
    background: #CBD5C0;
    color: #fff;
}
#header{
    width:100%;
    /* height: 100vh; */
    /* background-color: #9CAF88; */
    background-size: contain;
    background-position: center;
}
.container{
    padding: 20px 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}

ul li{
    padding-left: 10px;
}

ul li a{
    text-decoration: none;
    color: white;
}

section{
    width: 100vw;
    margin-top: 30px;
    justify-content: center;
    /* background-color: black; */

}

#TopBanner{
    background-color: #9CAF88;
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#TopBanner b{
    color: white;
    font-size: 4rem;

}

#Documentation{
    display: flex;
    text-align: center;
    padding-bottom: 5%;
}

#Documentation  li{
    padding-top: 10px;
    list-style-type: none;
}

#Documentation li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

img{
    margin-top: 20px;
}

#cardTower{
    background-color: #9CAF88;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5%;
    margin-right:5%;
}

img{
    height: 40vh;
}

#AdditionalFiles{
    padding-top: 10px;
    margin-right: 5%;
    background-color: #9CAF88;
}

#AdditionalFiles li{
    margin-top: 10px;
}

#GanntChart{
    text-align: center;
    /* background-color: black; */
    margin-top: 15px;
}

#GanntChart img{
    border: 7px solid #9CAF88;
}

#GanntChart h2{
    font-size: 2.5rem;
}

#GanntChart  li{
    padding-top: 5px;
    list-style-type: none;
}

#GanntChart li a{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}