*{
    margin: 0;
    padding: 0;
    font-family: 'Copperplate', fantasy;
    box-sizing: border-box;
}

body{
    background: #CBD5C0;
    color: #fff;
}
#header{
    width:100%;
    /* height: 100vh; */
    /* background-color: #9CAF88; */
    background-size: contain;
    background-position: center;
}
.container{
    padding: 20px 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}

ul li{
    padding-left: 10px;
}

ul li a{
    text-decoration: none;
    color: white;
}

section{
    width: 90vw;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

#text{
    
    margin-top: 50px;
}

#TopBanner{
    background-color: #9CAF88;
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#TopBanner b{
    color: white;
    font-size: 4rem;

}

#Research, #Personal{
    /* background-color: pink; */
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
    background-color: hsl(89, 20%, 61%);
    padding-top: 40px;
    /* padding-bottom: 60px; */
    border-radius: 25px;
    margin-bottom: 40px;
}

#Research{
    text-align: center;
    padding-bottom: 60px;
}

#Personal{
    padding-bottom: 30px;
}

#Research li, #Personal li{
    padding-top: 25px;
    list-style-type: none;
}

#Research li a, #Personal li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

img{
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 15%;
    height: 25vh;
}

h2{
    font-size: 2rem;
}

hr{
    width: 90%;
    size: 5;
    color: #CBD5C0;
    margin-top: 15px;
    margin-left: 5%;
}

h1{
    margin-top: 15px;
}

p{
    text-align: left;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.1rem;
}