*{
    margin: 0;
    padding: 0;
    font-family: 'Copperplate', fantasy;
    box-sizing: border-box;
}

body{
    background: #CBD5C0;
    color: #fff;
}
#header{
    width:100%;
    /* height: 100vh; */
    /* background-color: #9CAF88; */
    background-size: contain;
    background-position: center;
}
.container{
    padding: 20px 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

section{
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

#TopBanner{
    background-color: #9CAF88;
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}

li{
    padding-left: 10px;
}

ul li a{
    text-decoration: none;
    color: white;
}

#TopBanner b{
    color: white;
    font-size: 4rem;
}

img{
    border: 5px solid black;
}

#Logo{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #CBD5C0;
    height: 45vh;
    justify-content: center;
}

#AboutOrg, #Why, #ProjectDes{
    padding: 20px;
    background-color: #9CAF88;
    height: auto;
    margin-bottom: 40px;
}

#Why{
    margin-left: 3%;
    margin-right: 3%;
}


h2, p{
    text-align: center;
}

/* p{
    text-align: center;
} */