*{
    margin: 0;
    padding: 0;
    font-family: 'Copperplate', fantasy;
    box-sizing: border-box;
    
}

body{
    background: #CBD5C0;
    color: #fff;
}
#header{
    width:100%;
    /* background-color: #9CAF88;; */
    /* height: 100vh; */
    background-size: contain;
    background-position: center;
}
.container{
    padding: 20px 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

section{
    width: 100vw;
    /* height: 100vh; */
    /* background-color: white; */
    background-color: #CBD5C0;
}

#TopBanner{
    background-color: #9CAF88;
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#description{
    justify-content: center;
    background-color: white;
    background-color: #CBD5C0;
    width: 70vw;
    padding-left: 5%;
    padding-right: 5%;
    padding-top:8%;

}

ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}

li{
    padding-left: 10px;
}

ul li a{
    text-decoration: none;
    color: white;
}

#description p{
    color: white;
    font-size: 1.5rem;
}

#Content{
    display:flex;
}

#TopBanner b{
    color: white;
    font-size: 4rem;
}

#ProblemStatement{
    width: 30vw;
    height: 75vh;
    background-color: #9CAF88;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}

#ProblemStatement h2{
    margin-top: 3%;
    font-size: 2rem;
    text-align: center;
}
#ProblemStatement p{
    margin-top: 8%;
    font-size: 1.2rem;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.2;
}

#description a{
    text-decoration: none;
    color: white;
}


